/*impostazioni generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*impostazioni header e nav*/

.container{
    background-color: red;
    width: 100%;
    height: 80px;
    display: flex;
}

.navigator{
    background-color:darkorange;
    height: 50px;
    width: 800px;
    margin: auto;
    align-items: center;
}