/*impostazioni generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*impostazioni header e nav*/

.container{
    background-color: rgb(0, 247, 255);
    max-width: 1170px;
    height: 60px;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid rgb(39, 199, 252)    
}

.row-nav{
    background-color:darkorange;
    height: 30px;
    width: 700px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.col-logo, .col-login{
    border: 1px dashed black;
    width: 20%;
    height: 100%;    


}

.col-link{
    text-align: center;
    border: 1px dashed black;
    width: 60%;
    height: 100%;    
    
}

/*impostazioni link e lista*/

ul{
    list-style-type: none;
    
}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    display: inline-block;
}

.item-nav-logo{
    margin: 5px
}

.item-nav-link{
    margin-top: 5px;
}

.item-nav-login{
    margin-left: 100px;
    margin-top: 5px;
}

/*impostazioni main e sezioni*/

.container-one-sez{
    background-color: rgb(0, 8, 255);
    max-width: 1170px;
    height: 320px;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid rgb(39, 199, 252)
    
}

.row-one-sez{
    background-color:rgb(250, 123, 206);
    height: 280px;
    width: 50%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border: 1px dashed black;
}