/*impostazioni generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*impostazioni header e nav*/

.container{
    background-color: rgb(0, 247, 255);
    max-width: 1170px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid rgb(39, 199, 252)    
}

.row-nav{
    background-color:darkorange;
    height: 30px;
    width: 700px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.col-logo{
    border: 1px dashed black;
    width: 20%;
    height: 100%;    
    display: inline-block;
}

.col-login{
    border: 1px dashed black;
    width: 20%;
    height: 100%;    
    display: inline-block;
    text-align: right;
}

.col-link{
    text-align: center;
    border: 1px dashed black;
    width: 60%;
    height: 100%;    
}

/*impostazioni link e lista*/

ul{
    list-style-type: none;
    
}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    display: inline-block;
}

.item-nav-logo{
    margin: 5px
}

.item-nav-link{
    margin-top: 5px;
}

.item-nav-login{
    margin: 5px;
}

/*impostazioni prima sezione main*/

.container-one-sez{
    background-color: rgb(0, 8, 255);
    max-width: 1170px;
    height: 330px;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid rgb(39, 199, 252)
}

.row-one-sez{
    height: 260px;
    width: 50%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}

.col-one-sez{
    height: 260px;
    width: 100%;
    background-color: rgb(251, 117, 254);
    border: 1px dashed black;
}

/*impostazioni seconda e quarta sezione main*/

.container-two-sez, .container-four-sez{
    background-color: white;
    max-width: 1170px;
    height: 380px;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid rgb(222, 222, 222)
    
}

.row-two-sez, .row-four-sez{
    width: 700px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.col60-two-sez, .col60-four-sez{
        background-color: aqua;
        border: 1px dashed black;
        width: 60%;
        height: 300px;
}

.col40-two-sez, .col40-four-sez{
    background-color: rgb(254, 177, 255);
    border: 1px dashed black;
    width: 40%;
    height: 300px;
}

/*impostazioni terza sezione main*/

.container-three-sez{
    background-color: rgb(201, 201, 201);
    max-width: 1170px;
    height: 380px;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid rgb(222, 222, 222)
}

.row-three-sez{
    width: 700px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.col60-three-sez{
        background-color: aqua;
        border: 1px dashed black;
        width: 60%;
        height: 300px;

}

.col40-three-sez{
    background-color: rgb(254, 177, 255);
    border: 1px dashed black;
    width: 40%;
    height: 300px
}

/*impostazioni quinta sezione main*/

.container-five-sez{
    background-color: rgb(201, 201, 201);
    max-width: 1170px;
    height: 680px;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid rgb(222, 222, 222)
}

.row-five-sez{
    width: 700px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.col-five-sez{
        background-color: green;
        border: 1px dashed black;
        width: 100%;
        height: 600px;
}